
/* 
body {
    background-image: url(./assets/login.jpg), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-repeat: repeat;
    background-blend-mode: multiply;
    height: 100%;
    /* font-family: 'Numans', sans-serif; 
} */

.container {
    height: 100%;
    align-content: center;
} 



.img{
    background-size: cover;
    /* background-repeat: repeat; */
    background-blend-mode: multiply;
    height: 100%;
    width: 100%;
   font-family: 'Numans', sans-serif; 
   padding-bottom: 180px;

}
.card{
   margin-top: 140px; 
   /* margin-left: 50%; */
}